{% extends './index.html' %}
{% block banner %}
{% endblock %}
{% load static %}

{% block title %}About Us{% endblock %}
<main>
    {% block content %}

<section class="container_aboutus">
  <img src="images\322.jpg">
        <h2>Our Story</h2>
        <p>We are a passionate group of sneaker enthusiasts who have been in the industry for over a decade. Our goal is to provide our customers with the latest and greatest sneakers from the most popular brands.</p>
        <p>Welcome to our Sneakers Store! Our company was founded in 2020 by Salvador, Diogo, and Jorge, three friends with a passion for sneakers and a desire to bring the best possible products to fellow sneaker enthusiasts. We wanted to create a space where people could find the latest and greatest sneakers from top brands like Nike, Adidas, and Under Armour, all in one place.</p>

		<p>At our store, we offer a wide variety of sneakers for men, women, and kids. Whether you're looking for the perfect pair of running shoes, basketball sneakers, or just something stylish to wear around town, we've got you covered. Our team is always on the lookout for new and exciting sneaker releases, so you can be sure that we'll have the latest and greatest styles available for you to choose from.</p>

        <p>We take pride in offering only the highest quality products and providing exceptional customer service. Our team is dedicated to making your shopping experience as seamless and enjoyable as possible. </p> <br>

      </section>
      <section>
        <h2>Our Team</h2>
        <ul>
          <li>Salvador - Founder and CEO</li>
          <li>Diogo - Head of Marketing</li>
          <li>Jorge - Head of Operations</li>
          <br>
        </ul>
      </section>
      <section>
        <h2>Our Mission</h2>
        <p>Our mission is to become the go-to destination for sneakerheads worldwide. We strive to provide our customers with an unmatched shopping experience, with top-notch customer service and a constantly updated selection of the hottest sneakers.</p> <br><br><br>
        <p>If you ever have any questions or concerns, please don't hesitate to reach out to us.</p>

		<p>Thank you for choosing our Sneakers Store. We hope you find the perfect pair of sneakers that you've been searching for!</p>

		<p>Sincerely,</p>
		<p>Salvador, Diogo, and Jorge</p>

      </section>
    </main>

  </body>
</html>








    </main>
  {% endblock %}
