{% extends './index.html' %}
{% block banner %}
{% endblock %}

{% block title %}Catalogo{% endblock %}

<main>
    {% block content %}

<div class="container-fluid">
  <div class="row" id="fs_app">
    <section class="col-12" id="fs_header_bar">
      <div class="row">
        <div class="col-2">
          <i class="fa fa-chevron-left"></i>
        </div>
        <div class="col-10" id="fs_page_title">
          Filters
        </div>
      </div>
    </section>

    <section class="col-12" id="fs_price_body">
      <form id="filter-form">
        <span class="heading">
          By Price
        </span>
        <div class="row">
          <div class="col-4">
            <label>
              <input type="radio" name="price" value="low" />
              Low
            </label>
          </div>
          <div class="col-4">
            <label>
              <input type="radio" name="price" value="medium" />
              Medium
            </label>
          </div>
          <div class="col-4">
            <label>
              <input type="radio" name="price" value="high" />
              High
            </label>
          </div>
        </div>
      </form>
      <div class="line"></div>
      <div class="line1"></div>
      <div>
        <ul id="price-results">
            {% for price in prices %}
            <li>{{ price }}</li>
            {% endfor %}
        </ul>
      </div>
    </section>

    <!-- Adicione aqui as outras seções do filtro -->

  </div>
</div>

      {% endblock %}
</main>

