<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'store/js/popup-messages.js' %}"></script>
    <script src="{% static 'store/js/quantity.js' %}"></script>
    <script src="{% static 'store/js/favorite.js' %}"></script>
    <title>{% block title %}Sneaker Store{% endblock %}</title>
</head>
<body>
{% if messages %}
<div id="django-messages" style="display:none;">
    {% for message in messages %}
    <div data-content="{{ message }}" data-type="{{ message.tags }}"></div>
    {% endfor %}
</div>
{% endif %}
{% if request.user.empregadoloja %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'store:catalogo' %}">Início</a></li>
            <li><a href="{% url 'store:adicionar_sneaker' %}">Adicionar Sneaker</a></li>
            <li><a href="{% url 'store:encomendas' %}">Gerir encomendas</a></li>
            <div class="profile-container">
                <div class="welcome-text">
                    Bem-vindo,<br> {{ request.user.first_name.split.0 }}
                </div>
                {% if request.user.empregado_loja.imagem %}
                <img class="profile-picture" src="{% static request.user.cliente.imagem %}"
                     alt="Foto de perfil de{{ request.user.first_name }}">
                {% else %}
                <img class="profile-picture" src="{% static 'store/images/default_profile_pic.png' %}"
                     alt="Foto de perfil de{{ request.user.first_name }}">
                {% endif %}
                <li><a href="{% url 'store:perfil' %}">Ver Perfil</a></li>
                <li class="logout-btn"><a href="{% url 'store:logout' %}">Logout</a></li>
            </div>
        </ul>
    </nav>
</header>
{% else %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'store:index' %}">Início</a></li>
            <li><a href="{% url 'store:catalogo' %}">Catálogo</a></li>
            <li><a href="{% url 'store:sobre_nos' %}">Sobre nós</a></li>
            {% if request.user.cliente %}
            <li><a href="{% url 'store:recomendados' %}">Recomendados Para Si</a></li>
            <div class="profile-container">
                <div class="welcome-text">
                    Bem-vindo,<br> {{ request.user.first_name.split.0 }}
                </div>
                {% if request.user.cliente.imagem %}
                <img class="profile-picture" src="{% static request.user.cliente.imagem %}"
                     alt="Foto de perfil de{{ request.user.first_name }}">
                {% else %}
                <img class="profile-picture" src="{% static 'store/images/default_profile_pic.png' %}"
                     alt="Foto de perfil de{{ request.user.first_name }}">
                {% endif %}
                <li><a href="{% url 'store:perfil' %}">Ver Perfil</a></li>
                <li><a href="{% url 'store:encomendas' %}">Encomendas</a></li>

                <li class="logout-btn"><a href="{% url 'store:logout' %}">Logout</a></li>
            </div>
            {% else %}
            <li class="login-btn"><a href="{% url 'store:login_view' %}">Login</a></li>
            <li class="register-btn"><a href="{% url 'store:registar' %}">Registar</a></li>
            {% endif %}
            <li><a href="{% url 'store:carrinho' %}"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="{% url 'store:favoritos' %}"><i class="fa fa-heart"></i></a></li>
        </ul>
    </nav>
</header>
{% block banner %}
<div class="banner">
    <img src="{% static 'store/images/banner3.jpg' %}" alt="Banner da Sneaker Store">
    <h1>Sneaker Store</h1>
    {% block catalog_button %}
    <a href="{% url 'store:catalogo' %}" class="btn">Ver Catálogo</a>
    {% endblock %}
</div>
{% endblock %}
{% endif %}
<main>
    {% block content %}
    <h1>Destaques</h1>
    <div class="sneakers-cont">
        {% for sneaker in popular_sneakers %}
        <div class="sneaker-card">
            <a href="{% url 'store:detalhes' sneaker.id %}">
                <img src="{% static sneaker.imagem %}" alt="{{ sneaker.nome }}">
                <h2>{{ sneaker.nome }}</h2>
                <p>Marca: {{ sneaker.marca.nome }}</p>
                <p>Categoria: {{ sneaker.categoria.nome }}</p>
                <p>Tamanho: {{ sneaker.tamanho.tamanho }}</p>
                <p>Preço: {{ sneaker.preco }}€</p>
            </a>
            <div class="card-actions">
                <div class="quantity-container">
                    <button class="quantity-button" type="button"
                            onclick="diminuirQuantidade(event, '{{ sneaker.id }}')">-
                    </button>
                    <span class="qnt-nbr" id="quantidade-{{ sneaker.id }}">1</span>
                    <button class="quantity-button" type="button"
                            onclick="aumentarQuantidade(event, '{{ sneaker.id }}')">+
                    </button>
                </div>
            </div>
            <div class="add-cart-container">
                <form id="add-favorite-form-{{ sneaker.id }}" method="post"
                      action="{% url 'store:adicionar_favoritos' sneaker.id %}">
                    {% csrf_token %}
                    <a href="#" class="favorite" onclick="submitFavoriteForm('{{ sneaker.id }}');">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-heart hover-icon"></i>
                    </a>
                </form>
                <form method="post" action="{% url 'store:adicionar_carrinho' sneaker.id %}">
                    {% csrf_token %}
                    <input type="hidden" id="quantidade-input-{{ sneaker.id }}" name="quantidade-{{ sneaker.id }}"
                           value="1">
                    <button class="add-cart" type="submit">Adicionar ao carrinho</button>
                </form>
            </div>
        </div>

        {% endfor %}
    </div>

    <h1>Mais produtos</h1>
    <div class="sneakers-cont">
        {% for sneaker in more_sneakers %}
        <div class="sneaker-card">
            <a href="{% url 'store:detalhes' sneaker.id %}">
                <img src="{% static sneaker.imagem %}" alt="{{ sneaker.nome }}">
                <h2>{{ sneaker.nome }}</h2>
                <p>Marca: {{ sneaker.marca.nome }}</p>
                <p>Categoria: {{ sneaker.categoria.nome }}</p>
                <p>Tamanho: {{ sneaker.tamanho.tamanho }}</p>
                <p>Preço: {{ sneaker.preco }}€</p>
            </a>
            <div class="card-actions">
                <div class="quantity-container">
                    <button class="quantity-button" type="button"
                            onclick="diminuirQuantidade(event, '{{ sneaker.id }}')">-
                    </button>
                    <span class="qnt-nbr" id="quantidade-{{ sneaker.id }}">1</span>
                    <button class="quantity-button" type="button"
                            onclick="aumentarQuantidade(event, '{{ sneaker.id }}')">+
                    </button>
                </div>
            </div>
            <div class="add-cart-container">
                <form id="add-favorite-form-{{ sneaker.id }}" method="post"
                      action="{% url 'store:adicionar_favoritos' sneaker.id %}">
                    {% csrf_token %}
                    <a href="#" class="favorite" onclick="submitFavoriteForm('{{ sneaker.id }}');">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-heart hover-icon"></i>
                    </a>
                </form>
                <form method="post" action="{% url 'store:adicionar_carrinho' sneaker.id %}">
                    {% csrf_token %}
                    <input type="hidden" id="quantidade-input-{{ sneaker.id }}" name="quantidade-{{ sneaker.id }}"
                           value="1">
                    <button class="add-cart" type="submit">Adicionar ao carrinho</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
</main>

<footer>
    <p> LEI-PL-3 &copy; 2023 Sneaker Store</p>
</footer>
</body>
</html>