{% extends './index.html' %}

{% block title %}
    Painel de Controle do Empregado
{% endblock %}

{% block content %}
    <h1>Painel de Controle do Empregado</h1>
    <div class="painel-controle">
        <ul>
            <li>
                <a href="{% url 'loja:adicionar_produto' %}">Adicionar Sneaker</a>
            </li>
            <li>
                <a href="{% url 'loja:gerenciar_produtos' %}">Editar Sneaker</a>
            </li>
            <li>
                <a href="{% url 'loja:gerenciar_pedidos' %}">Gerir Encomendas</a>
            </li>
        </ul>
    </div>
{% endblock %}