{% extends './index.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}
<main>
    <section class="container_aboutus">
        <img src="{% static 'images/322.jpg' %}">
        <h2>A nossa História</h2>
        A nossa história começa há alguns anos atrás, quando dois amigos decidiram abrir uma pequena loja de ténis no
        centro da cidade. Eles eram grandes fãs deste tipo de calçado e sentiam que havia uma grande oportunidade de
        negócio.

        No início, a loja era muito modesta, com apenas algumas prateleiras e um pequeno stock de produtos. No entanto,
        os clientes começaram a aparecer e a loja começou a crescer.

        Com o tempo, a equipa expandiu-se e novas marcas e modelos foram adicionados ao stock. A loja tornou-se
        conhecida pelos seus preços acessíveis e pela vasta seleção de produtos.

        Hoje em dia, a nossa loja é um dos principais pontos de referência para os amantes de ténis na cidade. Temos uma
        grande equipa de profissionais dedicados, que trabalham incansavelmente para garantir a satisfação dos nossos
        clientes.

        Apesar do nosso crescimento, mantemos o mesmo espírito empreendedor que nos trouxe até aqui. Continuamos a
        trabalhar arduamente para oferecer a melhor seleção de marcas e modelos de ténis, a preços acessíveis e com o
        melhor serviço possível.
    </section>

    <section class="team_section">
        <h2>A nossa equipa</h2>
        A equipa da nossa loja de ténis é composta por profissionais altamente motivados e trabalhadores, que se dedicam
        a oferecer o melhor serviço aos nossos clientes.

        Alguns membros da nossa equipa estão connosco desde o início da nossa jornada, há muitos anos, enquanto outros
        se juntaram mais recentemente. No entanto, todos partilham a mesma paixão pelos ténis e um forte desejo de fazer
        crescer o nosso negócio.

        A nossa equipa é muito coesa e unida, o que nos permite trabalhar em harmonia e oferecer um serviço de
        excelência aos nossos clientes. Partilhamos conhecimentos e experiências, e trabalhamos em conjunto para
        alcançar os nossos objetivos.

        Estamos constantemente a atualizar as nossas habilidades e conhecimentos sobre os mais recentes produtos e
        tendências em ténis, para que possamos aconselhar os nossos clientes da melhor forma possível. Além disso, temos
        um forte compromisso com o atendimento ao cliente e fazemos o nosso melhor para garantir que todos os nossos
        clientes se sintam bem-vindos e apoiados.

        Em resumo, a nossa equipa é um grupo de pessoas altamente motivadas, trabalhadoras e dedicadas, que estão unidas
        em torno de uma paixão comum pelos ténis e pelo sucesso do nosso negócio. Juntos, trabalhamos arduamente para
        garantir que a nossa loja continue a ser uma referência para os amantes de ténis em toda a cidade.
    </section>

    <section class="mission_section">
        <h2>A nossa missão</h2>

        A nossa missão como vendedores de ténis é proporcionar aos nossos clientes a melhor experiência de compra
        possível, oferecendo uma vasta seleção de ténis a preços imbatíveis.

        Estamos extremamente motivados e dedicados a fornecer um serviço de excelência aos nossos clientes. A nossa
        equipa é formada por pessoas apaixonadas por ténis e altamente experientes no setor. Estamos constantemente a
        atualizar os nossos conhecimentos e habilidades para poder oferecer o melhor aconselhamento possível aos nossos
        clientes.

        Além disso, temos um forte compromisso em oferecer aos nossos clientes os melhores preços possíveis. Mantemos
        relações estreitas com as marcas de ténis mais conceituadas, o que nos permite negociar preços especiais e
        descontos exclusivos. Desta forma, podemos passar essas poupanças para os nossos clientes, proporcionando-lhes a
        melhor qualidade a preços acessíveis.

        A nossa motivação para oferecer aos nossos clientes a melhor experiência de compra vai além de apenas vender
        ténis. Queremos fazer com que os nossos clientes se sintam valorizados e satisfeitos com a sua escolha.
        Acreditamos que o nosso compromisso com a qualidade, preços acessíveis e atendimento ao cliente fará com que os
        nossos clientes voltem a comprar conosco e recomendem a nossa loja a amigos e familiares.

        Em resumo, estamos altamente motivados em oferecer aos nossos clientes a melhor experiência de compra possível,
        oferecendo uma vasta seleção de ténis a preços imbatíveis. Acreditamos que a nossa paixão pelos ténis,
        experiência e compromisso com o atendimento ao cliente nos permitirão continuar a crescer e a servir a
        comunidade de amantes de ténis em toda a cidade.
    </section>
</main>
{% endblock %}