{% extends './index.html' %}
{% load static %}
{% block title %}Sobre nós{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}
<main>
    <section class="container_aboutus">
        <img src="{% static 'store/images/about-us.jpg' %}">
        <h2 class="h2-aboutus">A nossa História</h2>
        Nascida da paixão de dois amigos pelos ténis, a nossa loja cresceu de um pequeno negócio para um ponto de referência na cidade. Hoje, temos uma equipa dedicada, uma seleção de marcas e modelos variados, mantendo sempre preços acessíveis e um serviço de qualidade.
    </section>

    <section class="team_section">
        <h2 class="h2-aboutus">A nossa equipa</h2>
        A nossa equipa é composta por profissionais apaixonados por ténis e dedicados ao serviço ao cliente. Juntos, trabalhamos para oferecer a melhor seleção e aconselhamento, mantendo um ambiente acolhedor para todos os nossos clientes.
    </section>

    <section class="mission_section">
        <h2 class="h2-aboutus">A nossa missão</h2>
        O nosso compromisso é proporcionar a melhor experiência de compra, oferecendo uma vasta seleção de ténis a preços imbatíveis. A nossa motivação vai além de vender ténis - queremos que os nossos clientes se sintam valorizados e satisfeitos, fazendo com que regressem e recomendem a nossa loja.
    </section>
</main>
{% endblock %}